.box
{
 width: 300px;
 height: 180px;
 border: 2px solid black; 
 border-radius: 20px;
 background-color:rgb(41, 16, 16) ;
 color: white;
 padding: 50px;
 margin: 150px auto;
}
.btn{
    color: white;
margin:  60px 10px;
background-color: rgb(11, 177, 11);
border-radius: 50px;
font-size: medium;
 border:2px solid rgb(11, 177, 11);;
}
.b{
    background: radial-gradient(orange,grey);
    
}

img{
    border-radius: 100px;
    height: 150px;
width: 150px;
position: relative;
left:670px;
bottom: 220px;
}